body {
  background-image: url("../images/background.jpg");
  background-position: center top;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}

h1,
h2 {
  margin: 20px;
}
